<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Section 0</key>
	<array>
		<dict>
			<key>name</key>
			<string>Orders</string>
			<key>icon</key>
			<string>icon-orders.png</string>
			<key>segue</key>
			<string>OrdersShowSegue</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Messages</string>
			<key>icon</key>
			<string>icon-messages.png</string>
			<key>segue</key>
			<string>MessagesShowSegue</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Favourite</string>
			<key>icon</key>
			<string>icon-favourite.png</string>
			<key>segue</key>
			<string>FavoriteShowSegue</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Categories</string>
			<key>icon</key>
			<string>icon-categories.png</string>
			<key>segue</key>
			<string>CategoriesShowSegue</string>
		</dict>
		<dict>
			<key>name</key>
			<string>News</string>
			<key>icon</key>
			<string>icon-news.png</string>
			<key>segue</key>
			<string>NewsShowSegue</string>
		</dict>
	</array>
	<key>Section 1</key>
	<array>
		<dict>
			<key>name</key>
			<string>DiscountCards</string>
			<key>icon</key>
			<string>icon-discount-cards.png</string>
			<key>segue</key>
			<string>DiscountCardsShowSegue</string>
		</dict>
		<dict>
			<key>name</key>
			<string>OmnieCards</string>
			<key>icon</key>
			<string>icon-omnie-cards.png</string>
			<key>segue</key>
			<string>OmnieCardsShowSegue</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BusinessCards</string>
			<key>icon</key>
			<string>icon-business-cards.png</string>
			<key>segue</key>
			<string>BusinessCardsShowSegue</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Handbook</string>
			<key>icon</key>
			<string>icon-handbook.png</string>
			<key>segue</key>
			<string>HandbookShowSegue</string>
		</dict>
	</array>
	<key>Section 2</key>
	<array>
		<dict>
			<key>name</key>
			<string>PersonalPage</string>
			<key>icon</key>
			<string>icon-personal-page.png</string>
			<key>segue</key>
			<string>PersonalPageShowSegue</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Settings</string>
			<key>icon</key>
			<string>icon-settings.png</string>
			<key>segue</key>
			<string>SettingsShowSegue</string>
		</dict>
		<dict>
			<key>name</key>
			<string>About</string>
			<key>icon</key>
			<string>icon-about.png</string>
			<key>segue</key>
			<string>AboutShowSegue</string>
		</dict>
	</array>
	<key>Section 3</key>
	<array>
		<dict>
			<key>name</key>
			<string>OnmieSoft</string>
			<key>icon</key>
			<string>icon-onmie-soft.png</string>
			<key>segue</key>
			<string>OnmieSoftShowSegue</string>
		</dict>
	</array>
	<key>Section 4</key>
	<array>
		<dict>
			<key>name</key>
			<string>LogOut</string>
			<key>icon</key>
			<string>icon-logout.png</string>
			<key>segue</key>
			<string>LogOutShowSegue</string>
		</dict>
	</array>
</dict>
</plist>
