<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Section 0</key>
	<array>
		<dict>
			<key>name</key>
			<string>Orders</string>
			<key>icon</key>
			<string>icon-menu-orders-normal.png</string>
			<key>segue</key>
			<string>OrdersShowSegue</string>
			<key>isColor</key>
			<false/>
			<key>hasNewEvent</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Messages</string>
			<key>icon</key>
			<string>icon-menu-messages-normal.png</string>
			<key>segue</key>
			<string>MessagesShowSegue</string>
			<key>isColor</key>
			<false/>
			<key>hasNewEvent</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Favourite</string>
			<key>icon</key>
			<string>icon-menu-favourite-normal.png</string>
			<key>segue</key>
			<string>FavoriteShowSegue</string>
			<key>isColor</key>
			<false/>
			<key>hasNewEvent</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Categories</string>
			<key>icon</key>
			<string>icon-menu-categories-normal.png</string>
			<key>segue</key>
			<string>CategoriesShowSegue</string>
			<key>isColor</key>
			<false/>
			<key>hasNewEvent</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>News</string>
			<key>icon</key>
			<string>icon-menu-news-normal.png</string>
			<key>segue</key>
			<string>NewsShowSegue</string>
			<key>isColor</key>
			<false/>
			<key>hasNewEvent</key>
			<false/>
		</dict>
	</array>
	<key>Section 1</key>
	<array>
		<dict>
			<key>name</key>
			<string>DiscountCards</string>
			<key>icon</key>
			<string>icon-menu-discount-cards-normal.png</string>
			<key>segue</key>
			<string>DiscountCardsShowSegue</string>
			<key>isColor</key>
			<false/>
			<key>hasNewEvent</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>OmnieCards</string>
			<key>icon</key>
			<string>icon-menu-omnie-cards-normal.png</string>
			<key>segue</key>
			<string>OmnieCardsShowSegue</string>
			<key>isColor</key>
			<false/>
			<key>hasNewEvent</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>BusinessCards</string>
			<key>icon</key>
			<string>icon-menu-business-cards-normal.png</string>
			<key>segue</key>
			<string>BusinessCardsShowSegue</string>
			<key>isColor</key>
			<false/>
			<key>hasNewEvent</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Handbook</string>
			<key>icon</key>
			<string>icon-menu-handbook-normal.png</string>
			<key>segue</key>
			<string>HandbookShowSegue</string>
			<key>isColor</key>
			<false/>
			<key>hasNewEvent</key>
			<false/>
		</dict>
	</array>
	<key>Section 2</key>
	<array>
		<dict>
			<key>name</key>
			<string>PersonalPage</string>
			<key>icon</key>
			<string>icon-menu-personal-page-normal.png</string>
			<key>segue</key>
			<string>PersonalPageShowSegue</string>
			<key>isColor</key>
			<false/>
			<key>hasNewEvent</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Settings</string>
			<key>icon</key>
			<string>icon-menu-settings-normal.png</string>
			<key>segue</key>
			<string>SettingsShowSegue</string>
			<key>isColor</key>
			<false/>
			<key>hasNewEvent</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>About</string>
			<key>icon</key>
			<string>icon-menu-about-normal.png</string>
			<key>segue</key>
			<string>AboutShowSegue</string>
			<key>isColor</key>
			<false/>
			<key>hasNewEvent</key>
			<false/>
		</dict>
	</array>
	<key>Section 3</key>
	<array>
		<dict>
			<key>name</key>
			<string>OmnieSoft</string>
			<key>icon</key>
			<string>icon-menu-omnie-soft-normal.png</string>
			<key>segue</key>
			<string>OmnieSoftShowSegue</string>
			<key>isColor</key>
			<true/>
			<key>hasNewEvent</key>
			<false/>
		</dict>
	</array>
	<key>Section 4</key>
	<array>
		<dict>
			<key>name</key>
			<string>LogOut</string>
			<key>icon</key>
			<string>icon-menu-logout-normal.png</string>
			<key>segue</key>
			<string>LogOutShowSegue</string>
			<key>isColor</key>
			<false/>
			<key>hasNewEvent</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
